.nav {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid black;
}

.logo {
	margin-top: 8px;
	margin-bottom: 8px;
	height: 10%;
}

.appName {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0px;
}